.citation-content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20rem;
    /* margin-right: 10rem; */
}

.citation-header {
    grid-column: 1/4;
}

.citation-left-column {
    grid-column: 2;
}

.citation-right-column {
    grid-column: 3;
}

.citation-content a{
    text-decoration: none;
    font-size: 1.10rem;
    line-height: 1.75rem;
}

.citation-content ul{
    margin: 0.5rem 0;
}

.citation-content h1{
    margin-bottom: 0;
    margin-top: 5rem;
}

.citation-content h2 {
    font-size: 1.75rem;
    margin: 0;
    margin-top: 2rem;
}

/* Responsive */
@media all and (max-width: 91.125rem) {
    .citation-content {
        padding: 0 10rem;
    }
}

@media all and (max-width: 71.125rem) {
    .citation-content {
        padding: 0 6rem;
    }
}

@media all and (max-width: 63.125rem) {
    .citation-content {
        padding: 0 5rem;
    }
}

@media all and (max-width: 61.125rem) {
    .citation-content {
        grid-template-columns: 1fr 1fr;
    }

    .citation-header {
        grid-column: 1/3;
    }
    
    .citation-left-column {
        grid-column: 1;
    }
    
    .citation-right-column {
        grid-column: 2;
    }
}

@media all and (max-width: 48rem) {
    .citation-content a {
        font-size: 1rem;
    }

    .citation-content {
        padding: 0 2rem;
    }

    .citation-content h1{
        margin-top: 3rem;
    }

    .connection {
        margin-top: 3rem;
    }

    .citation-content a {
        font-size: 1rem;
    }
}

@media all and (max-width: 35.5rem) {
    .citation-content {
        grid-template-columns: 1fr;
    }

    .citation-right-column {
        grid-column: 1;
    }
}