* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
  }
  
h1, h2, h3, h4 {
  font-family: 'Lora', serif;
}

b, strong {
  font-weight: bolder;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1.10rem;
  line-height: 1.75rem;
}

/* Reference for underline animation: https://www.30secondsofcode.org/css/s/hover-underline-animation */

.underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after,
.underline-animation:focus:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer .underline-animation {
  color: white;
}

footer .underline-animation:after {
  background-color: white;
}

header .underline-animation:after {
  height: 4px;
}

/* Slide in button */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.view-about {
  width: 15rem;
  height: auto;
}
button.view-about .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #5DACA8;
  border-radius: 1rem;
}
button.view-about .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
}
button.view-about .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.view-about .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid white;
  border-right: 0.125rem solid white;
  transform: rotate(45deg);
}
button.view-about .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #5DACA8;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  font-size: 1.10rem;
  /* text-transform: uppercase; */
}

button:hover .circle,
button:focus .circle {
  width: 100%;
  background: #427876;
}

button:hover .circle .icon.arrow,
button:focus .circle .icon.arrow{
  background: white;
  transform: translate(1rem, 0);
}

button:hover .button-text,
button:focus .button-text {
  color: white;
}

/* footer */
footer {
  background-color: #1A2429;
  color: white;
  padding-bottom: 1.5rem;
}
.connection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}

.connection .footer-text {
  text-align: center;
}

.connection .footer-text h1 {
  margin-bottom: 0.5rem;
  margin-top: 3.5rem;
  font-size: 1.75rem;
}

.connection .footer-text p {
  margin-top: 0.5rem;
}

.social-icons {
  display: flex;
  column-gap: 2.5rem;
  font-size: 2rem;
}

.resources {
  display: flex;
  font-size: 0.95rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  margin-top: 2rem;
}

.resources p {
  font-size: 0.95rem;
}

footer a {
  color: white;
  text-decoration: none;
  padding-bottom: 0.25rem;
}

footer .copyright p{
  font-size: 0.9rem;
}

.citation {
  margin-right: 2.5rem;
}

/* modal img */
/* Reference: https://stackoverflow.com/questions/47798971/several-modal-images-on-page */
.myImages {
  /* border-radius: 5px; */
  cursor: pointer;
  transition: 0.3s;
}

.myImages:hover {
  opacity: 0.8;
  cursor: zoom-in;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 120px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 80px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: normal;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


/* Responsive */
@media only screen and (max-width: 768px){
  h1 {
    font-size: 2.75rem;
  }
  
  h2 {
    font-size: 2.25rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .connection .footer-text h1,
  .citation-content h2 {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 25rem) {
  .resources {
    padding: 0 1rem;
  }

  .connection .footer-text {
    padding: 0 2rem;
  }
}

@media all and (max-width: 38.125rem) {
  .resources {
    flex-direction: column-reverse;
  }
}
  