/* Reference: https://codeconvey.com/responsive-hamburger-menu-css-only/ */

.menu-wrapper {
  z-index: 100;
  position: sticky;
  top: 0;
}

.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  position: relative;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  color: #1A2429;
  padding: 20px 20px;
  text-decoration: none;
}

.header .logo-name {
  color: #1A2429;
  display: block;
  float: left;
  font-size: 1.5em;
  margin: 1.35rem 5rem;
  text-decoration: none;
  transition: all 0.2s ease;
}

.header .logo-name:hover,
.header .logo-name:focus {
  opacity: 60%;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  /* display: inline-block; */
  float: right;
  padding: 2.1rem 5rem;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #1A2429;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 20px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #1A2429;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 6px;
}
.header .menu-icon .navicon:after {
  top: -6px;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 340px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.personal-logo {
  width: clamp(25px, 25px, 100px);
  margin-right: 1rem;
}

/* Responsive */
@media only screen and (max-width: 768px){
  .header ul{
    background-color: white;
  }  

  .header li a {
    padding: 15px;
    padding-left: 2rem;
    border-bottom: 1px dotted #ddd;
  }

  .header .logo-name {
    margin: 1.35rem 2rem;
  }

  .header .menu-icon {
    padding: 2.1rem 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .menu-wrapper{
      background: #fff;
      height: 65px;
      line-height: 65px;
      width: 100%;
      box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 8%);
  }

  .header li {
    float: left;
  }
    
  .header .logo-name{
    line-height: 1;
  }

  .header ul {
    margin-right: 1.9rem;
  }

  .header li a {
    padding: 0 0.1rem 0 0.1rem;
    margin-right: 3rem;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  
  .header .menu-icon {
    display: none;
  }

}

@media all and (max-width: 22.25rem) {
  .header .logo-name {
    margin: 1.46rem 2rem;
    margin-right: 0;
}
}

@media all and (max-width: 20.3125rem) {
  .header .logo-name {
    font-size: 1.25rem;
  }

  .personal-logo {
    width: clamp(22px, 22px, 90px);
    margin-right: 0.5rem;
  }
}

@media all and (max-width: 17.8125rem) {
  .header .logo-name {
    font-size: 1rem;
    margin: 1.6rem 2rem;
    margin-right: 0;
  }

  .personal-logo {
    width: clamp(16px, 16px, 90px);
  }
}